div{
	background-color: #00FFFF;
}
p {
	width: 50%;
	border: 1px solid black;
    float: left;
   
}
#p1{
	background-color:#A52A2A; 

}
#p2{
	background-color:#DEB887; 

}

section{
	clear: left;
}
#bg{
	
	
background-color: blue;
background-position:center;

background-repeat:no-repeat;
}